<!doctype html>
<html ng-app='gemStore'>
  <head>
    <title>JsCart Demo Store</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body ng-controller="StoreController as storeCtrl">
     <h1>Please confirm your order is correct</h1>
      <cart></cart>
     <button>Check Out</button>
     
    <script src='javascripts/jscart.js'></script>
    <script src='bower_components/angular/angular.min.js'></script>
    <script src='controllers/store.js'></script>
  </body>
</html>