//general

.foundicon-remove{
  cursor:pointer;
}

.home{
  text-align: center;
  .button{display:inline-block !important;}
}
//nav style

.cart-count{
  background-color:red;
  color:white;
  border-radius: 100%;
  display:block;
  text-align:center;
  height:25px;
  width:25px;
}

.foundicon-cart{
  color:white;
  font-size:35px;
}

@media #{$small-only} {
  .cart-count{
    line-height: 2;
  }
}


nav{
  
 .right li.hide-for-small-only{
   background:transparent;
   a{background:transparent !important;}
   .cart-count{
     position:absolute;
     top:0;
     right:0;
   }
  }
  
  li.show-small-only{
   .cart-count{
    height:15px;
    width:15px;
   }
  }
  
}
//cart styles

.cart{
  text-align:center;
  table{
    margin:0 auto;
    td{text-align: center;}
  }
  a.button{margin-top:20px;}
}

@media #{$small-only} {
  #cartModal{
    padding:0;
  }  
}

//items styles
.store h3 {text-transform: capitalize;}
.item:last-child{float:left !important;}

//processing

#successModal{
 table .remove{display:none;}
}